* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 20px 30px;
}
.container {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}
.hw {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 50px;
}
span {
    display: block;
}